<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="rssform" (ngSubmit)="onSubmit">
            <div class="text-center">
                <h2 class="app-name" style="color:#3F51B5;">Upload RSS Feed</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100"> 
                        <input matInput placeholder="Name"  id="name" formControlName="name"  [(ngModel)]="value_name" [errorStateMatcher]="matcher">
        <button mat-button *ngIf="value_name" matSuffix mat-icon-button aria-label="Clear" (click)="value_name=''">
            <mat-icon>close</mat-icon> 
 
          </button>     
          <mat-error *ngIf="rssform.controls['name'].hasError('required')">
                  name is <strong>required</strong>
                </mat-error> 
                <mat-error *ngIf="rssform.controls['name'].hasError('minlength') && !rssform.controls['name'].hasError('required')">
                      Please enter a name of min 3 characters 
                    </mat-error> 
                     
                
                    <mat-error *ngIf="rssform.controls['name'].hasError('maxlength') && !rssform.controls['name'].hasError('required')">
                          Please enter a name of max 20 characters 
                        </mat-error> 

                    </mat-form-field>
                </div> 
            </div> 
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input    matInput placeholder="Url"  id="url" formControlName="url"  [(ngModel)]="value_url" [errorStateMatcher]="matcher">
    <button mat-button *ngIf="value_url" matSuffix mat-icon-button aria-label="Clear" (click)="value_url=''">
        <mat-icon>close</mat-icon> 

      </button>     
      <mat-error *ngIf="rssform.controls['url'].hasError('required')">
              Rss Feed Url is <strong>required</strong>
            </mat-error> 
            <mat-error *ngIf="rssform.controls['url'].hasError('pattern') && !rssform.controls['name'].hasError('required')">
                  Please enter a valid url 
                </mat-error> 
    
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button style="margin:2%" mat-raised-button color="primary" class="w-100" [disabled]="!rssform.valid"   
                    (click)="onSubmit()">upload</button>
                    
                </div>
            </div>
   
        </form> 
    </div>
</div>


  <!-- Button to Open the Modal -->
  <button  style="display:none;"
  id="modal_toggle" type="button" class="btn btn-primary" 
  data-toggle="modal" data-target="#myModal">
     Open modal
   </button>      
   <!-- The Modal -->
   <div class="modal fade " data-backdrop="false" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
         <mat-card> 
         <mat-card-title> 
             <h3>Error</h3>
         </mat-card-title>   
        <mat-card-content> 
            <p><strong>{{error_message}}</strong> </p>
        </mat-card-content>
         <mat-card-actions class="modal-footer">
           <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
         </mat-card-actions>
     </mat-card>
     
       </div>
     </div>
   </div>
<mat-spinner *ngIf="show"></mat-spinner>
