#feed_list{
    width: 500px;
    height: 150px;     
    margin: 2em;
    display: inline-block;
  }
  mat-form-field{
    display: block;
  } 
  #c_n_c{
    display:block;
                 margin: 5%;
                 margin-left:35%;
} 