<h1>Image Upload</h1>

<form [formGroup]="image_form" (ngSubmit)="onupload()" 
      class="form-container" id="image_form_div"> 
          <mat-form-field class="form-field">   
            <input formControlName="image_name" matInput placeholder="Name"  id="image_name"     
            [(ngModel)]="image_name_value" [errorStateMatcher]="matcher">
            
            <button mat-button *ngIf="image_name_value" 
            matSuffix mat-icon-button aria-label="Clear"  
            (click)="image_name_value=''"> 
              <mat-icon>close</mat-icon>         
            </button>   
               
                <mat-error *ngIf="image_form.controls['image_name'].hasError('required') ">
                  Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="image_form.controls['image_name'].hasError('minlength') && 
                !image_form.controls['image_name'].hasError('required') ">
                enter a name of at least 3 characters 
                </mat-error> 
             
                <mat-error *ngIf="image_form.controls['image_name'].hasError('maxlength') && 
                !image_form.controls['image_name'].hasError('required') ">
                enter a name of at most 25 characters 
                </mat-error> 
            
           
          </mat-form-field>   
          
        
          <input type="file"
          accept="image/*"
           (change)="onFileSelected($event)" 
           formControlName="image_file" 
           id="image_file"/>
             
  
          <button [disabled]="!image_form.valid"   
          mat-button color="primary" type="button"
           (click)="onupload()">upload</button> 
         
        </form>