<h1>Image Gallery</h1>

<form [formGroup]="image_form" (ngSubmit)="onupload()" 
      class="form-container" id="image_form_div"> 
          <mat-form-field class="form-field">   
            <input formControlName="image_name" matInput placeholder="Name"  id="image_name"     
            [(ngModel)]="image_name_value" [errorStateMatcher]="matcher">
            
            <button mat-button *ngIf="image_name_value" 
            matSuffix mat-icon-button aria-label="Clear"  
            (click)="image_name_value=''"> 
              <mat-icon>close</mat-icon>         
            </button>   
               
                <mat-error *ngIf="image_form.controls['image_name'].hasError('required') ">
                  Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="image_form.controls['image_name'].hasError('minlength') && 
                !image_form.controls['image_name'].hasError('required') ">
                enter a name of at least 3 characters 
                </mat-error> 
             
                <mat-error *ngIf="image_form.controls['image_name'].hasError('maxlength') && 
                !image_form.controls['image_name'].hasError('required') ">
                enter a name of at most 25 characters 
                </mat-error> 
            
           
          </mat-form-field>   
          
        
          <input type="file"
          accept="image/*"
           (change)="onFileSelected($event)" 
           formControlName="image_file" 
           id="image_file"/>
             
  
          <button [disabled]="!image_form.valid"   
          mat-button color="primary" type="button"
           (click)="onupload()">upload</button> 
         
        </form>

          <mat-card    *ngFor="let d of data"  class="image">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{d[0]}}</mat-card-title>
            </mat-card-header> 

             <img mat-card-image id="output" style="object-fit:cover; " src="http://localhost:8000{{d[1]}}" /> 
          
            <mat-card-actions>        
              <button (click)="onDelete_modal(d[0])"  mat-button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Delete</button>
            </mat-card-actions>  
          </mat-card> 


          
          <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <mat-card>
                    <mat-card-title>
                      Delete
                    </mat-card-title>
                  <mat-card-content>
                      <h3>Do you want to delete  this pic ??</h3>
                  </mat-card-content>
           
                   
                  <mat-card-actions class="modal-footer">
              
                    <button (click)="onDelete()"  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Yes</button>
                    <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
                  </mat-card-actions>
              </mat-card>
              
                </div>
              </div>
            </div>
            <mat-spinner *ngIf="loading"></mat-spinner>  