mat-list{
  margin-left: -1em;
  padding: 0%;
} 


mat-chip {
  max-width: 200px;
  
 
}
#chip{
  background-color:#3F51B5;
  color: white;
}


a:hover {
  
  cursor: pointer;
}
 




.spacer {
  flex: 1 1 auto;
}

mat-sidenav,mat-sidenav-content{
  height: 100vh;
  

}

mat-sidenav{
  flex-direction: column;
  display: flex;
  width: 250px; 
}