<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand"> 
        {{tenant_name|titlecase}} 
    </div> 

     
   </mat-toolbar>
    
   <div id="sidebar">
    <mat-nav-list>
        <a mat-list-item (click)="dashboard_panel()">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>


        <div class="nested-menu">
                <a mat-list-item (click)="addExpandClass('campaigns')">
                        <mat-icon class="sidenav-icon">contact_mail</mat-icon> {{ 'Campaign' | translate }}
                </a>
                <ul class="nested submenu" [class.expand]="showMenu === 'campaigns'">
                    <li>
                        <a mat-list-item (click)="campaigns()"><span>{{ 'Campaigns' | translate }}</span></a>
                    </li>
                    <li>
                        <a mat-list-item (click)="create_campaign()"><span>{{ 'Create Campaign' | translate }}</span></a>
                    </li>
                    
                </ul>
            </div>


            <div class="nested-menu">
                    <a mat-list-item (click)="addExpandClass('templates')">
                            <mat-icon class="sidenav-icon">perm_media</mat-icon> {{ 'Email Templates' | translate }}
                    </a>
                    <ul class="nested submenu" [class.expand]="showMenu === 'templates'">
                        <li>
                            <a mat-list-item (click)="email_templates_index() "><span>{{ 'Email Templates' | translate }}</span></a>
                        </li>
                        <li>
                            <a mat-list-item (click)="email_templates_editor() "><span>{{ 'Email Template Editor' | translate }}</span></a>
                        </li>
                        
                    </ul>
                </div>
         
                <div class="nested-menu">
                        <a mat-list-item (click)="addExpandClass('insights')">
                                <mat-icon class="sidenav-icon">bar_chart</mat-icon> {{ 'Insights' | translate }}
                        </a>
                        <ul class="nested submenu" [class.expand]="showMenu === 'insights'">
                            <li>
                                <a mat-list-item (click)="insights()"><span>{{ 'Campaign Insights' | translate }}</span></a>
                            </li>
                            <li>
                                <a mat-list-item (click)="insights_rss()" ><span>{{ 'RSS Feeds Insights' | translate }}</span></a>
                            </li>
                            
                        </ul>
                    </div> 
        
        <a mat-list-item (click)="import_contacts()">
            <mat-icon class="sidenav-icon">import_contacts</mat-icon> {{ 'Import Contacts' | translate }}
        </a>

        <div class="nested-menu">
                <a mat-list-item (click)="addExpandClass('images')">
                    <mat-icon class="sidenav-icon">images</mat-icon> {{ 'Images' | translate }}
                </a>
                <ul class="nested submenu" [class.expand]="showMenu === 'images'">
                    <li>
                        <a mat-list-item (click)="image_gallery()"><span>{{ 'Images Gallery' | translate }}</span></a>
                    </li>
                    <li>
                        <a mat-list-item (click)="upload_image()" ><span>{{ 'Upload Image' | translate }}</span></a>
                    </li>
                    
                </ul>
            </div> 


            <div class="nested-menu">
                    <a mat-list-item (click)="addExpandClass('rss_feeds')">
                            <mat-icon class="sidenav-icon">rss_feed</mat-icon> {{ 'RSS Feeds' | translate }}
                    </a>
                    <ul class="nested submenu" [class.expand]="showMenu === 'rss_feeds'">
                        <li>
                            <a mat-list-item (click)="rss_to_emails()"><span>{{ 'RSS Feeds' | translate }}</span></a>
                        </li>
                        <li>
                            <a mat-list-item (click)="upload_rss_feed()" ><span>{{ 'RSS Feed Upload' | translate }}</span></a>
                        </li>
                        
                    </ul>
                </div> 
    

 
        <a mat-list-item  (click)="ontenant_logout()">
            <mat-icon class="sidenav-icon">logout</mat-icon> {{ 'Logout' | translate }}
        </a> 
 
           </mat-nav-list>
</div>
       
<div class="main-container" >  
    <router-outlet ></router-outlet> 
</div> 