
<mat-toolbar color="primary">
    <mat-toolbar-row>

      <a (click)="dashboard_panel()">{{ dashboard|titlecase }}</a> 
      
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span> 
      <a  (click)="import_contacts()">import contacts</a>
      <span class="spacer"></span>
  <a  (click)="campaigns()">Campaigns</a>

  <span class="spacer"></span>

  <a  (click)="email_templates_editor()">Email Templates</a>
  <span class="spacer"></span>

  <a  (click)="insights()">Insights</a>
  <span class="spacer"></span> 

  <a  (click)="rss_to_emails()">RSS to Emails</a>
  <span class="spacer"></span>

  <a  (click)="image_gallery()">Image Gallery</a>
  <span class="spacer"></span>

  <a (click)="ontenant_logout()">logout</a>

    </mat-toolbar-row> 
  
  </mat-toolbar>

  
  
 

  <mat-sidenav-container >
   
    <mat-sidenav mode="side" opened>

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>


        <h3 id="email">{{ email }}</h3>
        <a *ngFor="let x of data" attr.id="{{x}}"  (click)="side_nav(x)" >{{x}}</a>

          
    </mat-sidenav> 
  
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
 
           
      

  
   