
<div class="row">

<div class="col-md-10 ">
 
  <div id="toolbar-container"></div>

  <div id="editor"> 
        <textarea autofocus>This is the initial editor content.</textarea>
    </div>      

    </div>
    
    <div class="col-md-2" > 
    <h1 style="color:#3F51B5;">Images</h1>     
<br> 
    <div   *ngFor="let d of data" 
     >       
      <img class="draggable" 
       id="ck_img"  src="http://localhost:8000{{d[1]}}" />
    </div>
    <a mat-button (click)="image_upload()" style="cursor: pointer;">upload image</a>

  </div>
  
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
  <div class="col-md-12"></div> 
  <div class="col-md-12"></div> 
  <div class="col-md-12"></div>   

<div class="col-md-6 " style="margin:5%;">

    <form [formGroup]="templateform" (ngSubmit)="get_data" class="form-container" >
            <mat-form-field> 
                    <input matInput placeholder="Name"  id="name" formControlName="name"  [(ngModel)]="value_name" [errorStateMatcher]="matcher">
                    <button mat-button *ngIf="value_name" matSuffix mat-icon-button aria-label="Clear" (click)="value_name=''">
                        <mat-icon>close</mat-icon> 
             
                      </button>   
                      <mat-error *ngIf="templateform.controls['name'].hasError('required')">
                              name is <strong>required</strong>
                             </mat-error> 
                            <mat-error *ngIf="templateform.controls['name'].hasError('minlength') && !templateform.controls['name'].hasError('required')">
                                  Please enter a name of min 3 characters 
                                </mat-error> 
                                  
                            <mat-error *ngIf="templateform.controls['name'].hasError('maxlength') && !templateform.controls['name'].hasError('required')">
                                      Please enter a name of max 25 characters 
                                     </mat-error> 
            
          
          
          
              </mat-form-field>
              <button [disabled]="!templateform.valid" class="save_button_ckeditor" (click)="get_data()" mat-button color="primary">save</button>
            </form> 
  
          </div>
          </div>

     
    
 
          <button  style="display:none;" id="modal_toggle" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Open modal
            </button>       
            <!-- The Modal --> 
            <div class="modal fade" data-backdrop="false" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <mat-card> 
                  <mat-card-title>
                      <h3>Do you want to continue without saving it??</h3>
                  </mat-card-title>
               
                  
                  <mat-card-actions class="modal-footer">
                    <button  mat-button type="button" (click)="img_nav(true)" color="primary" type="button" data-dismiss="modal">Yes</button>
                    <button  mat-button type="button" (click)="img_nav(false)" color="primary" type="button" data-dismiss="modal">No</button>
                  </mat-card-actions>
              </mat-card>
              
                </div>
              </div>
            </div>
            

            <button  style="display:none;"
 id="modal_toggle_err" type="button" class="btn btn-primary" 
 data-toggle="modal" data-target="#myModal_err">
    Open modal
  </button>      
  <!-- The Modal -->
  <div class="modal fade " data-backdrop="false"  id="myModal_err">
    <div class="modal-dialog">
      <div class="modal-content">  
        <mat-card> 
        <mat-card-title> 
            <h3>Error</h3>
        </mat-card-title>   
       <mat-card-content> 
           <p><strong>{{error_message}}</strong> </p>
       </mat-card-content>
        <mat-card-actions class="modal-footer">
          <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
        </mat-card-actions>
    </mat-card>
    
      </div>
    </div>
  </div>
  

            