<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="importform" (ngSubmit)="uploadcontacts" >
            <div class="text-center">
                <h2 class="app-name" style="color:#3F51B5;">Import Contacts</h2>
                <p>
                    uppload a csv file that contains the emails contacts.
                 </p>
                 
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <div class="w-100">  
                        <input id="csv_file" formControlName="contacts" 
                      type="file"  (change)="selectedfile($event)" >    
                    </div>
                </div> 
            </div> 
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button  
                    [disabled]="!importform.valid"
                    style="margin:2%" 
                    mat-raised-button color="primary" 
                    class="w-100" 
                    (click)="uploadcontacts()">Upload Contacts</button>
                    
                </div> 
            </div> 
   
        </form>
    </div>
</div>
<mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>

  <!-- Button to Open the Modal -->
  <button  style="display:none;" id="modal_toggle" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>       
  <!-- The Modal -->
  <div class="modal fade" data-backdrop="false" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <mat-card> 
        <mat-card-title>
            <h3>Number of uploaded Emails</h3>
        </mat-card-title>
       <mat-card-content> 
           <p><strong>{{unique_emails_counter}}</strong> unique emails are uploaded</p>
       </mat-card-content>

         
        <mat-card-actions class="modal-footer">
          <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
        </mat-card-actions>
    </mat-card>
    
      </div>
    </div>
  </div>
  

  <button  style="display:none;"
 id="modal_toggle" type="button" class="btn btn-primary" 
 data-toggle="modal" data-target="#myModal">
    Open modal
  </button>      
  <!-- The Modal -->
  <div class="modal fade " data-backdrop="false"  id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <mat-card> 
        <mat-card-title> 
            <h3>Error</h3>
        </mat-card-title>   
       <mat-card-content> 
           <p><strong>{{error_message}}</strong> </p>
       </mat-card-content>
        <mat-card-actions class="modal-footer">
          <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
        </mat-card-actions>
    </mat-card>
    
      </div>
    </div>
  </div>
  


