.image{
    margin: 2em;
    display: inline-block;
    width: 300px;
    height: 150px;  
}
 

mat-spinner {
    
    position:fixed; 
    top: 30%;
    left: 40%;
    width:20em;
    height:15em;
    text-align: left;
  }  

  #c_n_c{
    display:block;
                 margin: 5%;
                 margin-left:35%;
}