
<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="tenant_form" (ngSubmit)="onSubmit()" >
            <div class="text-center">
                <h2 class="app-name">Enter you bussiness name</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100"> 
                    
                      <input  matInput placeholder="name" 
             id="name" formControlName="name"
             [(ngModel)]="value_name" [errorStateMatcher]="matcher">

                
             <button mat-button *ngIf="value_name" 
             matSuffix mat-icon-button aria-label="Clear"  
             (click)="value_name=''">
               <mat-icon>close</mat-icon>  
             </button>    
           
              <mat-error *ngIf="tenant_form.controls['name'].hasError('minlength') &&
               !tenant_form.controls['name'].hasError('required')">
                      Please enter a name of at least 6 characters.  
                    </mat-error>  
                  
                    
              <mat-error *ngIf="tenant_form.controls['name'].hasError('maxlength') &&
              !tenant_form.controls['name'].hasError('required')">
                     Please enter a name of at most 25 characters.  
                   </mat-error>  



                    <mat-error *ngIf="tenant_form.controls['name'].hasError('required')">
                      name is <strong>required</strong>
                    </mat-error>
                    </mat-form-field>

                </div> 
            </div> 
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                
                <div fxFlex fxLayoutAlign="end"> 
                    <mat-label>URL:localhost:4200{{url}}/{{value_name}}</mat-label>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button  [disabled]="!tenant_form.valid"     
                     style="margin:2%" mat-raised-button color="primary" class="w-100" (click)="onAdd_Business()">Add Business</button>
                    <button style="margin:2%" mat-raised-button color="primary" class="w-100" (click)="onBack()">Back</button>
                    
                </div>
            </div>
   
        </form>
    </div>
</div>



