
<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" style="overflow-y:auto;">
            <div class="text-center">
                <h2 class="app-name">Select Business</h2>
            </div>
            <div style="overflow-y:auto;" fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                  <app-tenant-index ></app-tenant-index>
                </div>  
            </div> 
            
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button style="margin:2%" mat-raised-button color="primary" class="w-100" (click)="onAdd_Business()">Add Business</button>
                    <button style="margin:2%" mat-raised-button color="primary" class="w-100" (click)="onLogout()" >Logout</button>
                     
                </div>
            </div>
   
        </form>
    </div>
</div>




