<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="login-form" [formGroup]="signinform" (ngSubmit)="onSubmit()" >
           




            
          <div class="text-center">
                <h2 class="app-name">Email Marketing</h2>
            </div>
          
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    
                  <mat-form-field class="w-100">   
                        <input formControlName="email" matInput placeholder="Email" 
                         id="email"     
                        [(ngModel)]="value_email" [errorStateMatcher]="matcher">

                        <button mat-button *ngIf="value_email" 
                        matSuffix mat-icon-button aria-label="Clear"  
                        (click)="value_email=''"> 
                          <mat-icon>close</mat-icon>  
                        </button> 
                        
                        <mat-error *ngIf="signinform.controls['email'].hasError('email') && 
                        !signinform.controls['email'].hasError('required')">
                          Please enter a valid email address
                        </mat-error>

                        <mat-error *ngIf="signinform.controls['email'].hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error> 
                    </mat-form-field>
                </div>   
            </div>   
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">

                        <input  matInput placeholder="password" 
                        type="password" id="pwd" formControlName="password"
                         [(ngModel)]="value_pwd" [errorStateMatcher]="matcher">
                        <button mat-button *ngIf="value_pwd" matSuffix mat-icon-button 
                        aria-label="Clear" (click)="value_pwd=''">
                            <mat-icon>close</mat-icon>
                          </button>    
                        
                        
                          <mat-error *ngIf="signinform.controls['password'].hasError('minlength') &&
                           !signupform.controls['password'].hasError('required')">
                                  Please enter a password of at least 4 characters.  
                                </mat-error>
                        
                                <mat-error *ngIf="signinform.controls['password'].hasError('required')">
                                  password is <strong>required</strong>
                                </mat-error>
                        
                      
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                
                <div fxFlex fxLayoutAlign="end"> 
                    <a   (click)="ngOnDestroy()" routerLink="">Don't have an account?</a>
                </div>
            </div>  

            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                   
                  <button style="margin:2%" 
                    mat-raised-button color="primary" 
                    class="w-100" 
                     [disabled]="!signinform.valid"   
                     (click)="onSubmit()">signin</button>

                     <button 
                     style="margin:2%" 
                     mat-raised-button 
                     color="primary" 
                     class="w-100" 
                      (click)="socialSignIn('facebook')">
                      Connect with Facebook</button>

                     <button 
                     style="margin:2%" 
                     mat-raised-button color="primary" 
                     class="w-100" 
                     (click)="socialSignIn('google')">
                     Connect with Google</button> 
                    
                </div>
            </div>
   
        </form>
    </div>
</div>




  <!-- Button to Open the Modal -->
<button  style="display:none;"
 id="modal_toggle" type="button" class="btn btn-primary" 
 data-toggle="modal" data-target="#myModal">
    Open modal
  </button>      
  <!-- The Modal -->
  <div class="modal fade " id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <mat-card> 
        <mat-card-title> 
            <h3>Error</h3>
        </mat-card-title>   
       <mat-card-content> 
           <p><strong>{{error_message}}</strong> </p>
       </mat-card-content>
        <mat-card-actions class="modal-footer">
          <button  mat-button type="button"  color="primary" type="button" data-dismiss="modal">Close</button>
        </mat-card-actions>
    </mat-card>
    
      </div>
    </div>
  </div>
  




  <mat-spinner style="margin:0 auto;" data-backdrop="true" data-back *ngIf="loader"></mat-spinner> 



